.config/.wallpaper/
.config/dconf/
.config/eog/
.config/fontconfig/
.config/fontforge/
.config/font-manager/
.config/gedit/
.config/htop/
.config/kate/
.config/KDE/
.config/kde.org/
.config/mpv/
.config/neofetch/
.config/protonvpn/
.config/pulse/
.config/systemd/
.config/Thunar/
.config/vlc/
.config/xfce4/
.config/gwenviewrc
.config/katerc
.config/katevirc
.config/mimeapps.list
.config/pavucontrol.ini
.config/bpytop/
.config/QtProject.conf
.config/cava
.config/gtk-3.0/
.config/obs-studio/
.config/qt6ct/
.config/spotify/
.config/xsettingsd/
.config/xdg-terminals.list
.config/Hyprland-xdg-terminals.list
.config/nwg-look/
.config/BraveSoftware/
.config/Code/
.config/arkrc
.config/audacity/
.config/kamosorc
.config/kdeglobals
.config/NuGet/
.config/VeraCrypt/
.config/pupgui/
.config/spectaclerc
